.mainContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 64px;
}
.note {
  text-align: center;
  font-size: smaller;
  font-weight: bold;
  color: #4e646e;
}
.dataContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 600px;
}

.header {
  text-align: center;
  font-size: 32px;
  font-weight: 600;
}

.bio {
  text-align: center;
  color: gray;
  margin-top: 16px;
}

.waveButton {
  cursor: pointer;
  margin-top: 16px;
  padding: 16px;
  border: 0;
  border-radius: 5px;
  width: 30%;
  background-color: #2196f3;
  color: white;
  font-size: 16px;
}
.account_info {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.account_info span {
  background-color: #2196f3;
  padding: 6px;
  border-radius: 5px;
  margin-left: 4px;
  color: white;
}
.waveinput_box {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 15px;
}
.waveinput {
  width: 60%;
  margin-top: 16px;
  padding: 16px;
  border: 1px solid #2196f3;
  border-radius: 6px;
}
.transaction_box {
  padding: 14px;
  border-radius: 6px;
  margin-top: 20px;
  background-color: rgb(240, 240, 240);
  box-shadow: 0px 1px 5px #1890ff6e;
}
.transaction_box .address {
  font-size: 14px;
  color: #4e646e;
  font-weight: 700;
}

.transaction_box .timestamp {
  font-size: small;
  font-style: italic;
  color: cornflowerblue;
}

.transaction_box .message {
}
